html, body {
    width: 100%;
   height: 100%;
   font-family: "Helvetica Neue", Helvetica, sans-serif;
   color: #444;

}

#container {
    position: fixed;
    width: 340px;
    /* height: 280px; */
    top: 30%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

form {
    margin: 0 auto;
    margin-top: 20px;
}
label {
    color: #555;
    display: inline-block;
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}
 a {
    font-size: 11px;
    color: #aaa;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
}
a:hover {
    color: #555;
}
input {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}
input[type=email],
input[type=text],
input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
}

.button {
    width: 50%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 6px;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

h1 {
    padding: 5px;
    width: 50%;
    margin-left: 100px;
}


.signin {
    padding: 12px;
    border: 1px solid;
    border-radius: 4px;
    margin: 6px;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}